body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    //background-color: rgb(241, 241, 241);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    .quotescontainer{
        width: 550px;
        height: 450px;
        border: none 2px rgb(247, 247, 247);
        border-radius: 15px;
        box-shadow: 1px 1px 20px rgb(231, 231, 231);
        background-color: white;
        // display: flex;
        // justify-content: center;
        // align-content: center;
        // flex-direction: column;
        .headers{
            font-size: 1rem;
            border: solid 2px rgb(238, 238, 238);
            color: rgb(146, 143, 143);
            padding: 5px;
            width: 80%;
            margin: 20px auto;
            border-radius: 15px;
        }
        
        .main-content{
            width: 82%;
            height: 220px;
            margin-left: 10px;
            border-radius: 15px;
            padding: 50px 40px;

            //background-color: rebeccapurple;
            //box-shadow: 1px 1px 20px rgb(231, 231, 231);
        }
        .main-content .text-area{
            font-size: 1.5rem;
            line-height: 1.5;
        }

        .main-content .person{
            font-size: 1.6rem;
            color: red;
            text-transform: uppercase;
            margin-top: 20px;
        }

        .main-content{
            .btnNewQuote{
                button{
                    background-color: #262626;
                    color: white;
                    padding: 12px 17px;
                    margin-top: 20px;
                    border-radius: 5px;
                    border: none;
                }

                button:hover{
                    background-color: lightblue;
                    //border-color: rgb(199, 197, 197);
                }
            }
        }
    }
}